{% extends 'blog/base.html' %}

{% block content %}
    <h2>Sobre mi</h2>

    <p>
       Mi nombre es Leandro Figueroa, tengo 34 años soy de Quilmes, Argentina.
       Actualmente me desempeño en el area de ingenieria de red en Silica Networks
       donde empece a comprender que el futuro de las comunicaciones esta totalmente ligado a la programacion.
       Es por eso que empece a estudiar programacion y por cuestiones obvia para poder complementar mi trabajo Actual
       elegí el desarrollo backend en Python.

    </p>

    <p>
        El proyecto lo desarrolle solo, guinadome con el material entregado por Coderhouse y apoyandome en foros y otros medios.
        El proyecto es una aplicacion web que permite a los usuarios registrarse, loguearse, crear, borrar posts y comentarios.

        Gracias a Coderhouse, Mi tutor Franco Alfano y a Octavio Lafourcade que fue el profe de la camada 31075 !!! </p>

        <a href="https://www.facebook.com/kyuba01/" class="fa fa-facebook">Facebook   ></a>
        <a href="https://www.linkedin.com/in/cleandrofigueroa/">Linkedin  </a>
        <a href="https://www.instagram.com/super_kuate/">>Instagram  </a>
        <a href="https://github.com/LeandroFigueroa">> Github  </a><hr>


{% endblock %}